body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: $softViolet;
  background: linear-gradient($softViolet, $softBlue) no-repeat;
  font-size: $fontSize;
  font-family: $fontFamily;
}
