main {
  position: relative;
  min-width: 80vw;
  margin: 0 auto;
  padding: 1em;
  padding-right: 2em;
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: 0 2em 1em -0.5em rgba(0, 0, 0, 0.2);

  @include breakpoint-up(large) {
    display: flex;
    min-width: 800px;
    width: 800px;
    padding: 6em;
    padding-right: 7em;
  }
}

.images,
.accordion {
  flex-basis: 50%;
}

.pattern {
  display: block;
  margin: 0 auto;

  @include breakpoint-up(large) {
    position: absolute;
    left: -10%;
    bottom: -10%;
  }
}

.illustration {
  display: block;
  position: absolute;
  top: -108px;
  left: 50%;
  transform: translateX(-50%);

  @include breakpoint-up(large) {
    left: -10%;
    top: 0;
    transform: translateX(0)
  }
}

.pattern-desktop,
.illustration-desktop,
.illustration-box {
  display: none;
}

.pattern-desktop {
  width: 450px;
}

@include breakpoint-up(large) {
  .pattern-mobile,
  .illustration-mobile {
    display: none;
  }  

  .pattern-desktop,
  .illustration-desktop,
  .illustration-box {
    display: block;
  }

  .illustration-box {
    display: none;
  }
}

