main {
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
  padding: 0em 1em 6em 2em;
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: 0 2em 1em -0.5em rgba(0, 0, 0, 0.2);

  @include breakpoint-up(medium) {
    display: flex;
    min-width: 63vw;
    min-height: 67vh;
    padding: 0;
  }
}
