//Text
$veryDarkBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
$veryDarkGreyishBlue: hsl(237, 12%, 33%);
$darkGreyishBlue: hsl(240, 6%, 50%);

//Background gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

//Dividers
$lightGreyishBlue: hsl(240, 5%, 91%);

$fontSize: 14px; //Style guide says 12px, but it looks so much smaller than the designs
$fontFamily: 'Kumbh Sans',sans-serif;
$fontStandard: 400;
$fontBold: 700;